body, html {
  height: 100%; }

.border {
  border: solid 1px red; }

.borderblue {
  border: solid 3px blue; }

.img-beer {
  display: block;
  text-align: center;
  max-width: 69px;
  max-height: 380px;
  margin: auto;
  padding-top: 20px; }

.parallax {
  z-index: 1;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 92vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/tap.jpg); }

#navbar {
  width: 100%; }

nav.navbar {
  background-color: #757575;
  background-image: none; }

#content {
  height: 100vh;
  top: 70px;
  position: relative;
  z-index: 1; }

#section-1 {
  height: 100vh;
  z-index: 10;
  position: relative; }

/*-------------------dropdown-menu--------------------------------------------*/
.dropdown-menu {
  max-height: 155px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 0px; }

/* ---------------------------------------------- */
/* RANADOM BEERS SECTION */
/* ---------------------------------------------- */
.beer-photo {
  overflow: hidden;
  background-color: #3e3e3e; }

.beer-photo img {
  display: block;
  text-align: center;
  max-width: 69px;
  max-height: 300px;
  margin: auto;
  padding-top: 20px;
  opacity: 1;
  z-index: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }

.beer-single:hover img {
  opacity: 0.26;
  -webkit-transform: scale3d(0.98, 0.98, 1);
  -ms-transform: scale3d(0.98, 0.98, 1);
  transform: scale3d(0.98, 0.98, 1); }

.beer-single {
  height: 380px;
  color: #8e8e8e; }

.beer-single img {
  height: 100%; }

.beer-single section {
  position: absolute;
  width: 100%; }

.arrow i {
  color: #E8E8E8;
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }

.arrow a:hover i {
  color: #0DB14B; }

.beer-single .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85px;
  text-align: center; }

.arrow {
  left: 10%;
  position: absolute;
  bottom: 30px;
  z-index: 2; }

.beer-single h1 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  font-weight: 900; }

.beer-single h2 {
  font-family: "Merriweather", serif;
  text-transform: none;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  line-height: 120%;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
  margin-top: 0; }

.beer-single p {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', Georgia, serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.25em; }

#storyline {
  /* BOTH of the following are required for text-overflow */
  overflow: hidden;
  text-overflow-multiline: ellipsis; }

.overflow-ellipsis {
  max-height: 3.6em; }

.beer-single .content-holder {
  opacity: 0;
  max-height: 50%;
  padding: 0 40px;
  text-align: center;
  z-index: 1;
  bottom: 150px;
  transition: all 500ms ease-in-out;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important; }

.beer-single:hover .content-holder {
  bottom: 35%;
  opacity: 1; }

.beer-single footer .footer-front {
  position: absolute;
  bottom: 24px;
  width: 100%;
  /*max-height: 4em; */
  margin-bottom: 0;
  padding: 0 40px;
  overflow: hidden;
  opacity: 0.85;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

.beer-single:hover footer .footer-front {
  opacity: 0; }

/* no-gutters Class Rules */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

.no-padding-margin {
  margin: 0;
  padding: 0; }

.hero-text {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #555; }

.hero-text h1 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 64px;
  font-weight: bold; }

.hero-text p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center; }
